.drive-image {
  .ant-tabs-nav-wrap {
    padding-left: 20px;
  }
}

.drive-market {
  .responsive-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media (max-width: 600px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 0) / 1);
    }
  }

  @media (min-width: 600px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 0) / 1);
    }
  }

  @media (min-width: 750px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 1) / 2);
    }
  }

  @media (min-width: 950px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 2) / 3);
    }
  }

  @media (min-width: 1150px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 3) / 4);
    }
  }

  @media (min-width: 1400px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 4) / 5);
    }
  }

  @media (min-width: 1650px) {
    .card-item {
      flex: 0 0 calc((100% - 20px * 5) / 6);
    }
  }
}

.ruleInfo {
  margin: -15px 20px 20px;
}
.ruleInfo-title {
  display: flex;
  justify-content: space-between;
}
.ruleInfo-content {
  border: 1px solid #eee;
  margin-top: 20px;
}
.ruleInfo-content__item {
  height: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
}
.ruleInfo-content__title {
  border-right: 1px solid #eee;
  margin-left: 25px;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
}
.ruleInfo-content__none {
  text-align: center;
  margin-top: 100px;
}